<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding: 20px; }
        img { max-width: 30%; height: auto; margin-top: 20px; border-radius: 10px; }
        .container { max-width: 90%; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px; background: #f9f9f9; }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{ data.title }}</h1>
        <p><strong>Date:</strong> {{ data.date }}</p>
        <p>{{ data.explanation }}</p>

        {% if data.media_type == "image" %}
            <img src="{{ data.url }}" alt="{{ data.title }}">
        {% endif %}

        <p><a href="{{ data.hdurl }}" target="_blank">View HD Image</a></p>
    
        <hr />

        <h3>Raw JSON Data</h3>
        <div class="json-container" style="color: dimgray;">
            <code>{{ formatted_json }}</code>
        </div>
    </div>
</body>
</html>